.recipesPage {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.mealsPage {
  display: flex;
  height: 100%;
  width: 100%;
}

.drinksPage {
  display: flex;
  height: 100%;
  width: 100%;
}
