.header {
  background-color: rgb(255, 238, 0);
  display: grid;
  grid-template-rows: 25% 75%;
  height: 100%;
  width: 100%;
}

.headerTop {
  align-items: center;
  background-color: orangered;
  box-shadow: 1px 1px 5px rgb(82, 20, 20);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.topBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.headerIcons {
  width: 30px;
}

.headerTitle {
  font-size: 30px;
  height: 30px;
}

.headerBotton {
  height: 100%;
}

.categorySection {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

@media ( max-width : 600px ) {

  .headerIcons {
    width: 25px;
  }

  .headerTitle {
    font-size: 25px;
    height: 25px;
  }

  .searchForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }

  .categorySection {
    gap: 5px;
  }

}
