.footer {
  align-items: center;
  background-color: rgb(192, 54, 4);
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.mealsBtn, .drinksBtn {
  width: 40px;
}

@media ( max-width : 600px ) {

  .mealsBtn, .drinksBtn {
    width: 30px;
  }
}
