.footer {
  position: fixed;
  bottom: 0px;
  align-items: space-between;
  background-color: #41197f;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.mealsBtn, .drinksBtn {
  color: #fcc436;
  max-height: 50px;
}
