.carouselContainer {
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card {
  box-sizing: border-box;
  display: inline-block;
  flex: 0 0 50%; /* Show two cards at a time */
  padding: 10px;
  scroll-snap-align: start;
}

.card img {
  height: auto;
  width: 100%;
}

.card p {
  text-align: center;
}
