.detailsPage {
  background-color: rgb(255, 247, 179);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  padding-top: 30px;
  width: 100%;
}

.recipeImage {
  border-radius: 10px;
  width: 400px;
}

.infoDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.favAndSharBtnsDiv {
  display: flex;
  gap: 3px;
}

.shareBtn {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
}

.favBtn {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
}

.recommendations {
  display: flex;
  height: 250px;
  margin-bottom: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 500px;
}

.recRecipesImg {
  width: 250px;
}


.startBtn {
  align-items: center;
  align-self: center;
  background-color: #ef4223;
  border: 1px solid black;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 35px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

@media ( max-width : 600px ) {

  .detailsPage {
    align-items: center;
  }

  .recipeImage {
    width: 300px;
  }

  .recRecipesImg {
    width: 150px;
  }

  .video {
    width: 300px;
  }

  .recommendations {
    height: 150px;
    width: 300px;
  }
}
